body {
    font-size: 16px;
    
  }

  h1 {
    font-size: 65px;
    color: #708A81;
    font-family: Helvetica, sans-serif;
  }

  .cor-de-fundo {
    background-color: #2B2129;
  }

   p, li {
    color: #E5D1B8;          
    list-style: none;
    font-family: monospace;
    text-align: center;
  }

  p {
    font-weight: 600;
    font-size: 3em;        
  }

  li {
    line-height: 32px;
    
  }

  .amarelo {
    background-color: #FFC619;
  }

  .vermelho {
    background-color: #DC143C;
  }
  .marrom {
    background-color: #532C1F;
  }