body {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
  }

  h1 {
    font-size: 65px;
    color: #2B2B2B;    
  }

   li {
    color: #FFFD95;          
    list-style: none;
    font-family: monospace;
    text-align: center;
    line-height: 32px; 
  }

  p {
    font-weight: 600;
    font-size: 3em;     
    color: #2B2B2B;       
  }

  .roxo {
    background-color: #2C2891;
  }

  .azul {
    background-color: #39A388;
  }
  .verde {
    background-color: #1C7947;
  }